{% extends "base.html" %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h2>About <strong>{{username}}</strong></h2>
    <p>about here</p>
    <p>about also here</p>
    <br>

    <p><strong>Public Contact Info: </strong></p>
    <br>
    <h3><a href="{% url 'app_profiles:user_posts' username %}">Posts by {{username}} </a></h3>
    <br>
    <h3><a href="{% url 'app_profiles:user_posts_comments' username %}">Posts commented by {{username}}</a></h3>
  </div>
</div>

profile here






{% endblock %}
