{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          <h3><a href="{% url 'app_profiles:user_posts' user.username %}">Posts by {{user.username}} </a></h3>
          <h3><a href="{% url 'app_profiles:user_posts_comments' user.username %}">Posts commented by {{user.username}}</a></h3>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-info" type="submit">Update</button>
          </div>
      </form>
    </div>

  </div>
</div>

{% endblock %}
