{% extends 'base.html' %}

{% block body_block %}

{% load static %}

<div class="container">
  <div class="jumbotron 8">
    <h1>Welcome to Interactive Printers.</h1><br>
    <h1>Backing investment decisions with statistics.</h1><br>
    <p><strong>About interactive printers</strong></p>
    <p>This website is a platform to host my tools for portfolio analysis, as well as a simple blog.</p>
    <p>Occassionallly, I will post financial content and opinions in that blog. Feel free to sign up and join the discussion.</p>
    <p>I hope you find the tools and content useful in your wealth building endeavors.</p>
    <p>For all inquiries regarding this website please contact me at <strong>adm.IPTR@gmail.com</strong>.</p>
    <p>Please note that this website is a work in progress. Some functionality may be missing.</p>

    <br>
  </div>
</div>


{% endblock %}
