{% extends 'base.html' %}

{% block body_block %}

{% load static %}

<div class="container">
  <div class="jumbotron 8">
    <h1 class="display-4"><strong>Resources</strong></h1><br>

    <p><strong><a href="https://www.codingfinance.com/">codingfinance.com</a></strong>: some code for finance tools can be accreddited to this website</p>
    <p><strong><a href="https://www.udemy.com/course/python-and-django-full-stack-web-developer-bootcamp/">Django Bootcamp by Jose Portilla</a></strong>: This course taught me the skills to use django and HTML to create this website. A lot of code for the blog can be accreddited to the projects on this course</p>
    <p><strong><a href="https://rationalreminder.ca/">Rational Reminder Podcast: </a></strong> Podcast with excellent financial content, especially for Canadians.  </p>
    <p></p>
    <p></p>
  </div>
</div>


{% endblock %}
