{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">

<h1>this is post_detail.html</h1>

  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'app_profiles:public_profile' post.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'app_forum:post_update' object.id %}">Edit</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'app_forum:post_delete' object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content|safe }}</p>
    </div>
  </article>
  {% if user.is_authenticated %}
<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'app_forum:post_comment_create' object.id %}">Comment</a>
  {% else %}
  <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'login' %}">Comment</a>
  {% endif %}
<br>

{% for comment in post.comments.all %}
<br>
  <div class="media-body">

      <a class="mr-2" href="{% url 'app_profiles:public_profile' comment.author %}">{{ comment.author }}</a>
      <small class="text-muted">{{ comment.date_posted }}</small>

    <p class="article-content">{{ comment.content }}</p>
    {% if comment.author == user %}
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'app_forum:post_comment_delete' pk=comment.pk %}">Delete</a>
    {% endif %}
  </div>

  {% endfor %}

  <br><br>


</div>
</div>
{% endblock %}
